[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
pandas = "*"
sqlalchemy = "*"
pep8 = "*"
psycopg2-binary = "*"
libsass = "*"
django-sass-processor = "*"
django-redis = "*"

[requires]
python_version = "3.7"
